body{
  margin: 0;
  padding: 0;
}
h1, h2, h3{
  margin: 0;
}
.list-container{
  width: 80%;
  margin: 0 auto;
  background: #eee;
  padding: 1em;
}
.build-list{
  margin: 1em 0;
  padding: 0;
}
.build-list__item{
  list-style: none;
}
.component{
  background: #fff;
  
}
.item__comment{
  padding: 1em;
}
.component_image,
.component_info,
.component_iprice{
  padding: 1em;
}
/*Grid*/
.grid{
  font-size: 0;
}
.grid > *{
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid__item{
  display: inline-block;
}
.one-third{
  width: 33.33%;
}